@tailwind base;
@tailwind components;
@tailwind utilities;

/*Search Bar Styling*/
.body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    margin: 0;
}

.search-imput {
    width: 400px;
    padding: 10px;
    font-size: 17px;
}


.search-button {
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.search-button:hover {
    background-color: aquamarine;
}

.heading-text {
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  /* -webkit-background-clip: text;   */
  -webkit-text-fill-color: transparent;
  
}

results {
    margin-top: 30px;
}

/* Movie card styling temp pending the look */
.movie {
    box-shadow: 0 6px 7px rgba(rgba(102, 255, 0, 0.877), rgb(243, 239, 21), rgb(247, 121, 4),rgb(255, 38, 0) alpha);
    border-radius: 4px;
    width: 400px;
    background-color: black;
    margin: 1rem;
    overflow: hidden;
    position: relative;
}

.movie image {
    width: 100%;
}

.movie info {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    color: white;
    letter-spacing: 0.5px;
    align-items: center;
}

.movie info h1 {
    margin: 0;
}

.movie info span {
    background-color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

/* Hover view */
.overview {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    padding: 2rem;
    transform: translateY(100%);
    transition: transform 2s ease-in;
    max-width: 100%;
    overflow: auto;
}

.overview h2 {
    margin-top: 0;
}

/* Book Search */

.search-imput {
    width: 400px;
    padding: 10px;
    font-size: 17px;
}

.search-button {
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
    background-color: rgb(0, 255, 136);
    border: none;
    color: white;
    border-radius: 5px;

}

.search-button:hover {
    background-color: rgb(137, 35, 221);
}